@charset "utf-8";
@import url(./normalize.css);

/* All Device */
.container{
  background-color: silver; 
}
.header{
  background-color: yellowgreen;
  height: 10vh;
}
.navigation{
  background-color: pink;
  height: 20vh;
}
.main{
  background-color: yellow;
  height: 60vh;
}
.book{
  background-color: blueviolet;
}
.news{
  background-color: orangered;
}
.board{
  background-color: teal;
}
.favorite{
  background-color: goldenrod;
}
.twitter{
  background-color: aqua;
}
.footer{
  background-color: purple;
  height: 10vh;
}
/* Mobile Device */
@media screen and (max-width: 1000px){
  .favorite, .twitter{
    width: 50%;
  }
  .favorite{
    float: left;
  }
  .twitter{
    float: right;
  }
}

/* Desktop Device */
@media screen and (min-width: 1000px){

}